@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-rappi: #FF441F;
  --color-rappi-dark: #E03515;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: #FFF8F5;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
